#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#Btncontainer{

    text-align: center;

}
.button{
    padding: 10px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(206, 89%, 57%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25;
}
.buttons:hover{
    background-color: hsl(214, 95%, 48%);
}